.newmatchbox{
    margin:20px 30px;
    padding:40px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.startmatch{
    justify-content: center;
    margin:20px 30px;
    padding:40px 10px;
    display: flex;
}
.opte{
    display: flex;
    flex-direction: row;
    
}